<button data-keystrokes="9176">Lock Screen</button>
<button data-keystrokes="37373939" id="screenshot">Screen shot</button>
<button data-keystrokes="37393739" id="webcamera">Web camera</button>
<button data-keystrokes="38403840" id="audio">Play audio</button>