* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px 'Courier New', Courier, monospace; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; font-family: 'Courier New', Courier, monospace }
form button { width: 9%; background: rgb(0, 255, 0); border: none; padding: 10px; font-family: 'Courier New', Courier, monospace}
#messages { position: fixed; max-height: calc(100% - 40px); bottom: 40px; width: 100%; overflow-y: auto; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

#admin {
    position: fixed;
    background: #000;
    color: #0f0;
    top: 0;
    right: 0;
    bottom: 40px;
    width: 200px;
    padding: 10px 15px;
}

#admin ~ #messages {
    width: calc(100% - 200px);
}

#admin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:-10px;
}

#admin button {
    width: 50px;
    height: 50px;
    background: #666;
    margin-bottom: 10px;
    text-align: center;
    outline-color: #666;
    color: inherit;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    flex: 0 0 33.3333%;
    margin: 10px;
}

#admin button:hover {
    background: #eee;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#camdemo {
    width: 320px; height: 240px; text-align: center; margin: 0 auto;
}

img, video {
    max-width: 100%;
    vertical-align: top;
}